.modal-container {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #EFF3FE;
    padding: 2rem;
    max-height: 80vh;
    overflow-y: auto;
    width: 200vh;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.MuiTypography-root.text-styles {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    color: #33499F;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
}

.custom-image {
    cursor: pointer;
}

.MuiTypography-root.MuiTypography-body1 {
    color: #2E3135;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

.print-label {
    color: #000000;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-weight: 600;
}

.MuiTypography-root.MuiTypography-h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 24.51px;
}
.border-btm{
    border-bottom: 1px solid black;
    margin-top: 3%;
}
.primary-button{
    color:white;
    background-color: #33499F ;   
}
.avl-quan-text{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #33499F;
}